sudo: false
cache:
  directories:
    - node_modules
notifications:
  email: false
language: node_js
node_js:
  - '4'
  - '6'
before_install:
before_script:
  - npm prune
script:
  - npm run install-scope
  - npm run test-travis
after_success:
  - 'curl -Lo travis_after_all.py https://git.io/travis_after_all'
  - python travis_after_all.py
  - 'export $(cat .to_export_back) &> /dev/null'
  - npm run semantic-release
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
env:
  - TEST_SCOPE=1.2
  - TEST_SCOPE=1.3
  - TEST_SCOPE=1.4
  - TEST_SCOPE=1.5
  - TEST_SCOPE=1.6
